.header{
    display: flex;
    justify-content: space-evenly   ;
    height: auto;
    width: 100%;
    align-items: center;
}

.header__img{
    width: auto;
    height: 5rem;
    margin: 1rem;
}

.header__list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 70rem;
}

.header__item{
    font-size: 1.1rem;
    text-decoration: none;
    margin: 1rem;
    color: #413D45;
}

.header__item:hover{

}