.signup{
    scroll-margin-top: 10rem;
    padding-top: 9rem;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background:  #FAF6F4;
    position: relative;
}


.signupWrapper{
    z-index: 1;
    background: #FFFFFF;
    width: 60rem;
    padding: 3rem;
    border-radius: 0.4rem;
    margin: 5rem 5rem 5rem 5rem;
}

.signup__header{
    display: flex;
    justify-content: center;
    font-size: 2.8rem;
    padding:1rem 1rem 3rem 1rem;
}

.signup__textContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: #5A6175;
    margin-bottom: 2rem;
}

.signup__text{
    font-size: 1.6rem;
    color: #5A6175;
}

.signup__text__link{
    margin-left: 0.6rem;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(255, 126, 29);
}

.signup__text__link:hover{
    text-decoration: underline;

}

.signup__inputContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.signup__inputWrapper{
    width: 100%;
}

.signup__passwordSvg{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 3rem;
}

.signup__passwordSvg:hover{
    cursor: pointer;
}

.signup__input{
    border: 1px solid #DAD7D5;
    border-radius: 0.8rem;
    height: 5.8rem;
    font-size: 1.6rem;
    color: rgb(90, 88, 87);
    width: 100%;
    padding-left: 1rem;
}

.signup__label{
    font-size: 1.6rem;
    transform: translateY(-2.35em);
    transform-origin: 0 0;
    display: block;
    padding-left: 1rem;
    transition: all 0.3s;
}

.signup__label:hover{
    cursor: text;
}

.signup__input::placeholder{
    color: transparent;
}

.signup__input:focus + .signup__label, .signup__input:not(:placeholder-shown) + .signup__label{
    transform: translateY(-3em) scale(0.7);
    padding-left: 1.5rem;
}

.signup__input:focus, .signup__input:not(:placeholder-shown){
    padding-top: 2rem;
    border: rgb(0, 164, 82) solid 0.1rem;
}

.signup__text__wrong{
    color: #FF7E1DFF;
    font-size: 1.6rem;
    margin: 0.5rem;
}

.signup__button{
    margin: 1rem 0;
    padding:1.32rem 2.4rem;
    background-color: #0C6FF9;
    border-radius: 2.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0 0.2rem 0.01rem 0.01rem rgba(0, 0, 0, 0.17);
    transition: 0.2s;
    border: none;
    width: 100%;
}

.signup__button:hover{
    background-color: #0d5ed5;
    cursor: pointer;
}

.signup__button:active{
    background-color: #0c51bb;
    margin-top: 1.1rem;
    margin-bottom:0.9rem;
}

.signup__socialButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}

.signup__socialButton{
    width: 12.0862rem;
    height: 4.6rem;
    border: none;
    border-radius: 10rem;
    transition: 0.3s all;
}

.signup__socialButton__apple{
    background: black;
}

.signup__socialButton__facebook{
    background: #5A6175;
}

.signup__socialButton__spotify{
    background-color: #2EBD59;
}

.signup__socialButton__google{
    background: #FAF6F4;
}
.signup__socialButton:hover{
    cursor: pointer;
    opacity: 0.8;
}

.signup__socialButton__icon{
    width: auto;
    height: 100%;
    padding: 0.7rem;
    color: white;
}

.signup__svgContainer{
}

.signup__svg{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .signupWrapper{
        width: 80%;
    }

    .signup__svgContainer{
        max-width: 85%;
        margin-bottom: -1.5rem;
    }

    .signup__svg{
        position: relative;
        width: 100%;
        height: auto;
    }

    .signupWrapper{
        margin-top: 0;
    }
}

