.feature{
    background: #2C292F;
    height: 27rem;
    min-width: 26rem;
    margin: 0.5rem;
    border-radius: 0.8rem;
}

.feature__svg_container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__svg{
    height: 40%;
    width: auto;
}

.feature__text{
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.feature__h1{
    font-size: 4rem;
}

.feature__p{
    font-size: 1.2rem;
    opacity: 0.7;
}