.navigation{
    display: flex;
    justify-content: space-evenly   ;
    height: auto;
    width: 100%;
    align-items: center;
}

.navigation__img{
    width: auto;
    height: 3.5rem;
    margin: 1rem;
}

.navigation__list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 70rem;
}

.navigation__item{
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0 1rem;
    color: #413D45;
}

.navigation__item:hover{

}