.navigation{
    display: flex;
    justify-content: space-evenly   ;
    height: 8rem;
    width: 100%;
    align-items: center;
    position: fixed;
    background: #FFFFFF;
    z-index: 2;
}

.navigation__img{
    width: auto;
    height: 4rem;
}

.navigation__list{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 70rem;
}

.navigation__item{
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0 1rem;
    color: #413D45;
}

.navigation__item:hover{

}