.header{
    background: #FAF6F4;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__img{
    width: auto;
    height: 100vh;
    padding: 1rem;
}

.header__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.header__h1{
    font-size: 8rem;
    font-weight: bold;
}

.header__h2{
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 1092px) {
    .header{
        justify-content: center;
    }
    .header__img{
        display: none;
    }
}
.custom-shape-divider-bottom-1665051738 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665051738 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 62px;
}

.custom-shape-divider-bottom-1665051738 .shape-fill {
    fill: #FFFFFF;
}
