@import url('http://fonts.cdnfonts.com/css/apercu');
*{
    margin: 0;
    padding: 0;
    font-family: 'Apercu', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

html, body{
    color: #413D45;
    scroll-behavior: smooth;
}
#root{
    font-size: 2rem;
}