.header{
    background: #FAF6F4;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__img{
    width: 50rem;
    height: auto;
}

.header__container{
    margin-left: 2.5rem;
}

.header__h1{
    font-size: 6.4rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 2rem;
}

.header__h2{
    font-size: 2.2rem;
    color: #FFFFFF;
    margin: 2rem;
}