.features{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
    color: #FFFFFF;
    gap: 4rem;
}

.features__h1{
    margin-top: 4rem;
    font-size: 6.4rem;
    text-align: center;
}

.features__container{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    flex-wrap: wrap;
    justify-content: center;
}
