.prices{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prices__header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.prices__h1{
    font-size: 4rem;
    margin: 1rem;
}

.prices__check_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
    max-width: 70rem;
}

.prices__check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.4rem;
    margin: 2rem;
}

.prices__check__svg{
    height: 1.3rem;
    width: 1.6rem;
}

.prices__check__p{
    font-size: 1.8rem;
}

.prices__inputWrapper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.prices__footer{
    display: flex;
    justify-content: center;
}

.prices__button{
    font-size: 1.6rem;
    background: rgb(255, 255, 255);
    padding: 2rem 4rem;
    border-radius: 3rem;
    margin: 1rem;
}

.prices__button:hover{
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.prices__button:active{
    margin-top: 1.1rem;
    margin-bottom: 0.9rem;
}